/* Reset */
* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}



/* Variables */
:root {
    --main-color: #548689;
    --main-text-color: #FFF;
    --border-color: #999;
    --bio-bg-color: #1e2a3a;
    --bio-border-color: #293544;
    --about-bg-color: #111821;
}



/* General */
.highlight {
    color: var(--main-color);
}



/*-----------------------------------------------------*/
/* Containers */
#container {
    display: flex;
    flex-direction: row;
    color: var(--main-text-color);
}

#bio-container {
    flex: 1 1 20%;
    min-height: 100vh;
    background-color: var(--bio-bg-color);
    text-align: center;
    padding: 25px 10px;
    border-right: 5px solid var(--bio-border-color);
}

#about-container {
    flex: 1 1 80%;
    min-height: 100vh;
    background-color: var(--about-bg-color);
    padding: 50px;
}



/*-----------------------------------------------------*/
/*Bio container*/
#bio-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 25px;
}

#bio-container h2 {
    margin-bottom: 25px;
    color: var(--main-text-color);
}

#bio-container p {
    margin-bottom: 20px;
}

#bio-container #connect-title {
    padding-top: 10px;
    font-weight: bold;
    color: var(--main-color);
}

#social-container {
    display: flex;
    justify-content: center;
    list-style: none;
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 25px;
    padding-bottom: 25px;
}

#social-container li {
    flex: 1 1 0;
    max-width: 60px;
}

#social-container li a {
    color: var(--main-color);
    font-size: 20px;
}

#social-container li a ion-icon {
    font-size: 28px;
    color: #94a3b8;
    transition: all 0.3s ease;
}

#social-container li a:hover ion-icon {
    transform: scale(1.25);
    color: var(--main-color);
}



/*-----------------------------------------------------*/
/*Qa List Container*/
#qa-list {
    margin-top: 30px;
    text-align: left;
}

#qa-list h3 {
    font-size: 22px;
    margin-bottom: 10px;
    color: var(--main-color);
}

#qa-list ul {
    list-style: square;
    padding-left: 20px;
    list-style-position: inside;
}

#qa-list li {
    font-size: 13px;
    margin-bottom: 6px;
    line-height: 1.4;
}



/*-----------------------------------------------------*/
/*about container*/
#name {
    font-size: 42px;
    margin-bottom: 15px;
    color: var(--main-text-color);
}

#title {
    font-size: 24px;
    margin-bottom: 25px;
    font-weight: bold;
    color: var(--main-color);
}

.description {
    max-width: 75%;
    margin-bottom: 10px;
}

#btn-projects {
    font-weight: bold;
    font-size: 16px;
    color: var(--main-text-color);
    background-color: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 8px;
    text-decoration: none;
    transition: .5s;
    margin: 25px 0;
    padding: 12px 10px;
    width: 170px;
    text-align: center;
    display: flex;
}

#btn-projects ion-icon,
#btn-projects span {
    flex: 1 1 0;
}

#btn-projects ion-icon {
    font-size: 20px;
    max-width: 20px;
}

#btn-projects:hover {
    background-color: transparent;
}

#skills-section-title {
    border-top: 1px solid var(--border-color);
    padding-top: 20px;
    margin-bottom: 20px;
    font-size: 32px;
    color: var(--main-color);
}


#skills-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
}

.description-subtitle {
    font-size: 20px;
    margin-bottom: 20px;
    color: var(--main-text-color);
    font-weight: bold;
}

.skills-box {
    flex: 1 1 33%;
    max-width: 33%;
    margin-bottom: 35px;
}

.skills-title {
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: 600;
    padding-left: 10px;
    border-left: 4px solid rgba(255, 255, 255, 0.15);
    color: var(--main-color);
}

.skills-box i {
    font-size: 45px;
    margin-right: 10px;
}

.skills-box ul {
    padding-left: 20px;
    list-style-position: inside;
}



/*-----------------------------------------------------*/
/*Main Tools*/
#main-tools {
    margin: 30px 0 40px 0;
}

.main-tools-title {
    font-size: 20px;
    margin-bottom: 20px;
    color: var(--main-text-color);
}

.main-tools-icons {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.main-tools-icons i {
    font-size: 44px;
    transition: 0.3s;
}

.main-tools-icons i:hover {
    transform: scale(1.15);
}



/*-----------------------------------------------------*/
/*Mobile*/

@media(max-width: 450px) {
    #container {
        flex-direction: column;
    }

    #bio-container {
        min-height: auto;
        border-right: none;
        border-bottom: 5px solid var(--bio-border-color);
    }

    #bio-container h2 {
        display: none;
    }

    #bio-container p {
        max-width: 60%;
        margin: 10px auto;
    }

    #about-container {
        text-align: center;
        padding: 30px;
    }

    #about-container .description,
    #about-container .description-subtitle {
        margin: 10px auto;
        max-width: 60%;
        line-height: 26px;
    }


    #btn-projects {
        margin: 20px auto;
    }

    .skills-box {
        flex: 1 1 100%;
        max-width: 100%;
        margin-bottom: 40px;
        text-align: left;
    }

    .skills-box i {
        font-size: 60px;
    }
}